nav.navbar.navbar-static-top.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', ng-click='nav.isCollapsed = !nav.isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='https://github.com/Swiip/generator-gulp-angular')
        span.glyphicon.glyphicon-home
        |  Gulp Angular
    #bs-example-navbar-collapse-6.collapse.navbar-collapse(uib-collapse='nav.isCollapsed')
      ul.nav.navbar-nav
        li(ui-sref-active='active')
          a(ui-sref='home') Home
        li(ui-sref-active='active')
          a(ui-sref='fileTree') File Tree
