.modal-header
  h3.modal-title Name folder
  .modal-body
    form(name='form')
      .form-group
        label(for='folderName') Folder name
          span(style='color: red') *
        input.form-control#folderName(placeholder='Enter folder name' ng-model='vm.folderName' required)
  .modal-footer
    button.btn.btn-primary(type="button" ng-disabled='form.$invalid' ng-click="vm.ok()") OK
    button.btn.btn-warning(type="button" ng-click="vm.cancel()") Cancel
