extends ../../../_layout.jade

block content
  .jumbotron.text-center
    h1 'Tech Stack'
    p.lead
      img(src="assets/images/yeoman.png" alt="I'm Yeoman")
      | Always a pleasure scaffolding your apps.

  .row
    .col-sm-6.col-md-4(ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'")
      .thumbnail
        img.pull-right(ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}")
        .caption
          h3 {{ awesomeThing.title }}
          p {{ awesomeThing.description }}
          p
            a(ng-href="{{awesomeThing.url}}") {{ awesomeThing.url }}
