extends ../../../_layout.jade

block content
  script(type='text/ng-template', id='nodes_renderer.html')
    .tree-node.tree-node-content(ui-tree-handle)
      a.btn.btn-default.btn-xs(ng-if='node.nodes && node.nodes.length > 0', data-nodrag='', ng-click='vm.toggle(this)')
        span.glyphicon(ng-class="{'glyphicon-folder-close': collapsed,'glyphicon-folder-open': !collapsed}")
      | {{node.title}}
      a.pull-right.btn.btn-danger.btn-xs(data-nodrag='', ng-click='vm.remove(this)')
        span.glyphicon.glyphicon-remove
      a.pull-right.btn.btn-primary.btn-xs(data-nodrag='', ng-click='vm.newSubItem(this)', style='margin-right: 8px;')
        span.glyphicon.glyphicon-plus
    ol(ui-tree-nodes='', ng-model='node.nodes', ng-class='{hidden: collapsed}')
      li(ng-repeat='node in node.nodes', ui-tree-node='', ng-include="'nodes_renderer.html'")

  .panel.panel-info
    .panel-heading.navbar.navbar-default
      .container-fluid
        h4.navbar-right-btn
          button.btn.btn-default.btn-sm(ng-click='vm.addRootItem()') Add folder
        h4.navbar-header
          p.navbar-text
            span Current folder: {{vm.currentFolder}}
    .panel-body
      h1 File Tree Example

      .row
        div.tree-root(ui-tree data-drag-enabled="false")
          ol(ui-tree-nodes="" ng-model="vm.data")
            li(ng-repeat="node in vm.data" ui-tree-node ng-include="'nodes_renderer.html'")
