/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.panel .navbar {
  margin-bottom: 0px;
}

.panel .navbar .navbar-btn.navbar-right {
  margin-left: 0.5em;
}

.panel .navbar.navbar-default {
  border-radius: 0;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

h4.navbar-header {
  margin: 0px;
  font-size: 16px;
}

.panel-heading.navbar {
  padding: 0px;
}

.panel-heading .navbar-header,
.panel-heading .navbar-header .navbar-text {
  margin-left: 0px;
}

.panel-heading.navbar-default .navbar-nav > li > a:hover,
.panel-heading.navbar-default .navbar-nav > li > a:focus {
  color: #31708f;
}

.panel-heading.navbar-default .navbar-nav > li > a {
  color: #428bca;
}

.panel-heading.navbar-default .navbar-nav > .active > a,
.panel-heading.navbar-default .navbar-nav > .active > a:hover,
.panel-heading.navbar-default .navbar-nav > .active > a:focus {
  color: #31708f;
  background-color: #bce8f1;
}

.panel-heading.navbar-default .navbar-text {
  color: #31708f;
}

.panel-heading.navbar-default .navbar-nav > .active > a,
.panel-heading.navbar-default .navbar-nav > .active > a:hover,
.panel-heading.navbar-default .navbar-nav > .active > a:focus {
  color: #31708f;
  background-color: #bce8f1;
}

.navbar-right-btn {
  font-size: 16px;
  position: relative;
  float: right;
  padding: 7px 9px;
  margin: 7px 0 5px 10px;

  border-radius: 4px;

}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
